
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe041;</i>管理列表</a>
                    <ul class="sub-menu">
                        <li><a href="{:url('admin/lst')}"><i class="icon-font">&#xe003;</i>管理员管理</a></li>
                        <li><a href="{:url('cate/lst')}"><i class="icon-font">&#xe001;</i>栏目管理</a></li>
                        <li><a href="{:url('article/lst')}"><i class="icon-font">&#xe005;</i>文章管理</a></li>
                        <li><a href="{:url('link/lst')}"><i class="icon-font">&#xe052;</i>友情链接</a></li>
                        <li><a href="{:url('guest/lst')}"><i class="icon-font">&#xe004;</i>留言管理</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
    <!--/sidebar-->