<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/main.css"/>
    <script type="text/javascript" src="/static/admin/js/libs/modernizr.min.js"></script>
    <style>
    ul.pagination li{
        float: left;
    }
    div.list-page{
        width: 200px;
        margin: 0 auto;
        text-align: center;
    }
    </style>
</head>
<body>
{include file="public/top" /}
<div class="container clearfix">
    {include file="public/left" /}
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:url('index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">留言管理</span></div>
        </div>
     
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th width="6%">ID</th>
                            <th width="8%">发表者</th>
                            <th width="">发表内容</th>
                            <th width="10%">发表时间</th>
                            <th width="8%">操作</th>
                        </tr>
                        {volist name="guestres" id="vo"}
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.inpname}</td>
                            <td>{$vo.content}</td>
                            <td>{$vo.time|date="Y-m-d",###}</td>
                            <td>
                                <a class="link-del" onclick="return confirm('您确定要删除吗？')" href="{:url('del',array('id'=>$vo.id))} ">删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </table>
                    <div class="list-page">{$guestres->render()}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>